.navbarHeader{
    padding-left: 45px;
}

.DropdownBody{
    background-color: darkcyan;
    border:solid 1px black;
    
}

.backgroundHeader{
    background-color: lightseagreen;
    
}

.logo{
    margin-right: 100px;
}

.navbarLink{
    padding: 5px;
}

.dropdown{
    padding-top: 20px;
    margin: 0px;
}

.separadorBoton1{
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
    display: flex;
    justify-content: center;
 

}

.carrusel{
    max-height: max-content;
}

.contenedorCarrusel{
    padding-top: 0px;
    margin-bottom: 50px;
}

.textoBotonps5{
    background-color: darkcyan;
    border-color: black;   
}

.textoBotonxbox{
    background-color: rgb(1, 104, 53);
    border-color: black;  
}

.textoBotonswitch{
    background-color: rgb(202, 40, 40);
    border-color: black; 
}

.textoH1Carrusel{
    text-align: center;
    padding-top: 20px;
    text-decoration: solid wavy;
}

.contenedorLogin{
    border-style: outset;
    border-color: dimgrey;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 500px;
    background-color: darkcyan;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 2px 2px 5px;
}

#Login{
    text-align: center;
}

#pass{
    text-align: center;
}

.alingText{
    margin-right: 5px;
}

.modal-body{
    padding: 0px;

}

.separadorBoton2{
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-left: 650px;
}

#linkOficiales{
    padding-top: 5px;
    margin: 0px;
}